

      <p>Title: <%= @selected_post["title"].capitalize %></p>
      </br>
      <p>Category: <%= @selected_post["category"].capitalize %></p>
      </br>
      <p>Image: <a href="<%= @selected_post["url"] %>"><img src="<%= @selected_post["url"] %>" width="600px" /></a></p>
      </br>



