h1 {
  font-family: 'Cinzel', serif;
  font-size: 40px;
}

h2 {
  font-size: 25px;
}
body {
  background-color: #CCCCCC;

}

p {
  font-family: font-family: 'Josefin Slab', serif;
  font-size: 15px;

}

header {
  background-color: #5F5FBF;
  width: 100%;
  text-align: left;
}
