h1 {
  font-family: 'Cinzel', serif;
  font-size: 50px;
  padding-left: 2.5cm;
}

h2 {
  font-family: 'Josefin Slab', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  text-align: center;
  color: white;
}
body {
  background-color: #808080;
}

p {
  font-size: 18px;
  color: white;
}

header {
  background-color: #5F5FBF;
  width: 100%;
  text-align: left;
  margin-top: -25px;
}
img {
  border-radius: 20px;
  border-color: white;
  border-width: 10px;
  box-shadow: 1px 1px 5px #fff;
}

form {
  vertical-align: left;

}

.posts {
  border-radius: 15px;
}

a {
  text-decoration: none;
}

li {
  font-size: 25;
  font-family: 'Josefin Slab', serif;
  font-style: normal;
  font-weight: 400;
}
